

/*
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
*/

body{
    background-color: rosybrown;
}

h1{
    color: brown;
    text-align: center;
    text-shadow: 2px 2px 5px white ;
}

h2{
    color:white;
    text-align: center;
}

.square{
    width: 500px;
    height: 500px;
    background-color: brown;
    margin: auto;
}



#circle{
    background-color: rosybrown;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin: auto;
}


.container{
    background: linear-gradient(to left, brown, rosybrown);
    box-shadow: 3px 5px 5px white;
}

.borderImg{
    width: 200px;
    margin: auto;
    border-right: 5px dotted brown; 
    border-bottom: 5px dashed brown;
}


