

html{
    font-family: 'Bungee', cursive;    
}

/*
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
*/

body{
    background-color: rosybrown;
    text-align: center;

}

h1, h3{
    color: brown;
    text-align: center;
    text-shadow: 2px 2px 5px white ;
}

h1{
    color: darkgray !important;
}


h2{
    color:white;
    text-align: center;
    font-size: 2rem;
    font-style: italic;
    /*
    REM - é calculado em cima do valor da TAG Body, Html ou Navegador.
    EM - já utiliza no cálculo o valor do elemento pai, criando uma hierarquia no cálculo, tornando mais complexo o uso.
    rem significa 6x o tamanho padrão, se é 16 pixels, será 16*6 
    */
}

.square{
    width: 500px;
    height: 500px;
    background-color: brown;
    margin: auto;
}



#circle{
    background-color: rosybrown;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin: auto;
}


.container{
    background: linear-gradient(to left, brown, rosybrown);
    box-shadow: 3px 5px 5px white;
}

.borderImg{
    width: 200px;
    margin: auto;
    border-right: 5px dotted brown; 
    border-bottom: 5px dashed brown;
}

/* pega qualquer li dentro do ul */
ul li{
    color: white;
    font-size: 20px;
}

/* um nível de filho, logo, não pega filhos dos filhos */
ul > li{
    color: black;
}




a{
    color: yellow;
    text-decoration: none;
    font-size: 30px;
    letter-spacing: 30px;
    word-spacing: -30px;
    text-transform: uppercase;
}

.teste{
    font-size: 25px;
    line-height: 2em;
    color: rgb(0, 0, 37);
}