
/* ############ Default ############  */
nav, header, footer{
    display: block;
}

body{
    line-height: 1;
    margin: 0;
}

label{
    font-size: 35px;
    font-weight: 600;
}

p{
    font-size: 20px;
    line-height: 1.2;
}

hr{
    margin: 30px;
}

article p{
    font-size: 20px;
    padding: 25px;
}

.containter{
    width: 100%;
    margin: auto;
    padding-top: 8%;
    padding-bottom: 8%;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* Isso ajuda a flexibilizar */
    align-items: center;
    /* Itens posicionados no centro */
}

.row::after{
    display: table;
    clear: both;
    content: "";
}
  
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;} 

*{
    box-sizing: border-box;
}






/* ############ Nav ############ */

nav{
    width: 100%;
    margin: 0;
}

nav ul{
    background-color: #639565;
    overflow: hidden;
    /* Esconde quando a página é moldada */
    margin: 0;
    padding: 0;
}

ul.topnav li{
    list-style: none;
    float: left;
}

ul.topnav li.topnav-right{
    float: right;
    
}

ul.topnav li a{
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color: #f7efef;
}

ul.topnav li a:hover{
    background: #314931;
    color: #f7efef;
}

ul.topnav li.drop-down-icon{
    display: none;
}








/* ############ Custom styles ############  */

#section-1-gradient{
    background: #d72621;
    background: -webkit-linear-gradient(#a81d1b, #d72621);
    background: -o-linear-gradient(#a81d1b, #d72621);
    background: -moz-linear-gradient(#a81d1b, #d72621);
    background: linear-gradient(#a81d1b, #d72621);
}

div.box{
    text-align: center;
    margin: 24px;
    padding: 36px 24px 40px 24px;
    border-radius: 7px;
    background-color: white;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .15),
    0 2px 3px 0 rgba(0, 0, 0,0.1);   
}

.slope-icon img{
    display: block;
    margin: auto;
}

button{
    font-size: 32px;
    font-weight: 700px;
    color: white;
    background-color: #639565;
    padding: 15px 68px;
    display: block;
    text-align: center;
    margin: 5px;
    border-radius: 70px;
    border-style: none;
}

button.learn-more{
    display: block;
    margin: auto;
}

div.icon{
    width: 100%;
}

.left-side-col{
    margin-left: 30%;
}

.right-side-col{
    margin-left: 35%;
}

h1.large{
    color:	#f7efef;
    font-size: 3.5rem; 
    margin: 0;
    line-height: 70px;
}

.section-2-header{
    font-size: 3rem;
    text-align: center;
}

form h2{
    color:	#f7efef;
}

input[type="text"]{
    font-size: 0.8rem;
    width: 400px;
    min-width: 100px;
    padding: 6px;
    border-radius: 7px;
}






/* ############ Mobile ############ */

@media screen and (max-width: 680px){
    
    /*Selecionando quando a tela fica nessa medida*/
    ul.topnav li:not(:nth-child(1)) {
        /*Selecionando elemento e usando a negação, assim menos o primeiro filho*/
        display: none;
    }

    ul.topnav li.drop-down-icon{
        display: block;
        float: right;
    }


    ul.topnav.responsive li.drop-down-icon{
        position: absolute;
        top: 0;
        right: 0;
    }

    /* A parte do click do icone */

    ul.topnav.responsive{
        position: relative;
    }
    
    ul.topnav.responsive li{
        display: inline;
        float: none;
    }

    ul.topav.responsive li a{
        display: block;
        text-align: left;
    }
    
    article p{
        font-size: 20px;
    }

    .col-4, .col-6, .col-7, .col-5{
        width: 100%;
        margin: 0;
    }

    .slope-icon{
        margin: 30px;
    }

    div.slope-icon img{
        width: 100%;
    }

    h1.section-2-header{
        font-size: 50px;
    }

    div.box{
        padding: 5px;
        display: block;
    }

    div.left-side-col, div.right-side-col{
        margin: 15px;
    }

    input[type="text"]{
        width: 350px;
    }

    .video-container iframe{
        position: relative;
        width: 100%;
        margin: 0;
        overflow: hidden;
    }


}